<h1>Edit Recipe</h1>
<p>Name: <%= @recipe.name %></p>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cooking Time: <%= @recipe.cook_time %></p>
<br>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <p>Edit Name: <input type="text" name="name"></p>
  <p>Edit Ingredients: <input type="text" name="ingredients"></p>
  <p>Edit Cooking Time: <input type="text" name="cook_time"></p>
  <br>
  <input type="submit" value="Edit Recipe">
</form>
