<h1>Create Recipe</h1>
<form action="/recipes" method="post">
  <p>Enter Name: <input type="text" name="name"></p>
  <p>Enter Ingredients: <input type="text" name="ingredients"></p>
  <p>Enter Cooking Time: <input type="text" name="cook_time"></p>
  <br>
  <input type="submit" value="Create Recipe">
</form>
